/* Réinitialisation de base */
#logo {
  height: 120px;
}

#search-logo {
  height: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


footer {
  display: flex;
  background-color:#949695;
  color: white;
  align-items:center;
}

#github-icon {
  height: 90px;

}

body {
  font-family: Arial, sans-serif;
 

}

header {
  display: flex;
  background-color: #000000;
  color: #fff;
  padding: 20px;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.movie-card {
  width: calc(50% - 20px);
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.movie-card a {
  text-decoration: none;
  color: black;
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-card h2,
.movie-card p {
  padding: 0 15px;
}

.movie-details {
  padding: 20px;
}

.movie-details img {
  width: 100%;
  height: auto;
}

.company-logo {
  height: 50px;
}

.film-recommendations {
  margin-top: 20px;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px 0;
}

.recommendation-card {
  flex: 0 0 auto;
  /* Les éléments ne grandissent pas, ne rétrécissent pas, mais sont basés sur leur largeur */
  width: 160px;
  /* Définissez une largeur fixe pour chaque carte de recommandation */
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.recommendation-card img {
  width: 100%;
  height: auto;
  display: block;
  /* Élimine l'espace sous les images */
}

.recommendation-card h3 {
  font-size: 1rem;
  padding: 5px;
  text-align: center;
}

/* Ajoutez des styles pour gérer les barres de défilement sur différents navigateurs */
.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #efefef;
}

@media (min-width: 600px) {
  .movie-card {
    width: calc(33.333% - 20px);
  }

  .movie-details img {
    max-height: 400px;
    /* limite la hauteur de l'image pour éviter qu'elle soit trop grande */
    object-fit: cover;
    /* assure que l'image couvre la zone définie sans perdre son ratio d'aspect */
    margin-right: 20px;
    /* ajoute un peu d'espace entre l'image et le texte à côté */
  }

  .movie-details>* {
    flex: 1;
    /* donne une flexibilité égale aux éléments enfants direct de .film-details, permettant un arrangement plus équilibré */
  }
}

@media (min-width: 900px) {
  .movie-card {
    width: calc(25% - 20px);
  }
}